.footer {
	border-top: 1px solid rgba(179, 179, 179, 0.5);
	padding-top: 122px;

}

.footer__column{
	margin-right: 300px;
	margin-bottom: 89px;
}
.footer__container{
	justify-content: space-between;

}

.footer__title {
	position: relative;
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	color: #100E0B;
	padding-bottom: 37px;
	margin-bottom: 35px;
}

.footer__title::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 48px;
	height: 1px;

	background-color: #57A773;
}

.footer__link {
	font-size: 13px;
	color: #959EA6;
	display: inline-block;
	margin-bottom: 12px;
 }

.subs-form {
	width: 368px;
}

.subs-form__field {
	width: 100%;
	height: 64px;
	border-radius: 8px;
	border: 1px solid #e4e4e4;
	padding-left: 31px;
	background-image: url(../../img/user.svg);
	background-position: calc(100% - 31px) center;
	background-repeat: no-repeat;
}

.subs-form__btn{
	width: 100%;
	background-color: var(--neptune-color);
	height: 64px;
	margin-top: 16px;
}

.footer__bottom {
	padding: 30px 0;
	border-top: 1px solid #d9d9d9;
}

.bottom-container{
	justify-content: space-between;
}

.footer__copy{

	font-family: 'SFProText' sans-serif;
font-size: 13px;
line-height: 15px;
/* identical to box height */


color: #959EA6;
}

.footer__links{
	display: flex;
}

.footer__links-item{
	margin-left: 40px;
}
