.newsletter {
	padding-top: 52px;
	padding-bottom: 150px;
}

.newsletter__content{
	position: relative;
	--newslatter-gap: 133px;

	border-radius: 8px;
	background-image: url(../../img/newsletter-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	justify-content: space-between; /* раскидал контент по сторонам слева текст, справа форма */

	padding:  0 var(--newslatter-gap);
	padding-top: 338px;
	padding-bottom: 178px;
}

.newsletter__text {
	max-width: 370px;
}

.newsletter__title {
	color: var(--white-color);
	font-family: 'SFProDisplay', sans-serif;
	font-size: 64px;
	margin-bottom: 50px;
}

.newsletter__descr {
	font-family: 'SFCompact', sans-serif;
	font-weight: 410px;
	font-size: 16px;
	line-height: 21px;
	color: var(--white-color);
}

.newsletter__form {
	position: absolute;
	bottom: -96px;
	right: var(--newslatter-gap);
}

.subscriber-form{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	width: 501px;
	height: 416px;
	border-radius: 8px;
	padding-top: 53px;
}

.subscribe-form__field{

	border: none;
	border-bottom: 1px solid rgba(28, 46, 61, 0.3);
	padding: 25px 0;
	width: 357px;

	font-size: 11px;
	line-height: 13px;
	letter-spacing: 2px;
	color: var(--dark-color);
	text-transform: uppercase;
}

.subscribe-form__btn {
	margin-top: 75.9px;
	height: 96px;
	width: 100%;
	background-color: var(--neptune-color);
	padding: 41px 80px;

	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
