.featured {
	background-image: url(/img/featured.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	position: relative;
}

.featured__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.featured__stories {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35.3%;
	background-color: rgba(17, 31, 42, 0.9);
}

.blog-article {
	padding-bottom: 105px;
}

.blog-article__category {
	font-weight: 800;
	font-size: 11px;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: var(--white-color);
	/* ниже стиль самой кнопки, сверху стиль текста в кнопке*/
	padding: 15px 30px;
	background-color: var(--accent-color);
	border-radius: 100px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.blog-article__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	color: var(--white-color);
	max-width: 40%;
	margin-bottom: 18px;
}

.blog-article__descr {
	font-style: "SFCompact", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--white-color);
	margin-bottom: 40px;
	max-width: 40%;
}

.blog-article__link {
	background-color: var(--neptune-color);
	display: inline-block;
	padding: 28px 70px;
}
