.slider-container {
	overflow-x: hidden;
	padding: 100px 0;
	width: 100%;
	margin-top: 50px;
}

.swiper-slide {
	background: #f2f2f2;
	border-radius: 8px;
	min-height: 550px;
	width: 890px;
	transition: transform 0.3s;
}

.swiper-slide-active{
	transform: scaleX(1.16) scaleY(1.2);
	transition: transform 0.3s;
}

